{{#each this.meals as |meal|}}
  {{meal.name}}<br>
{{/each}}
<hr>
{{#each this.planMeals as |meal|}}
  {{meal.name}}<br>
{{/each}}
<hr>

<button type="button" {{on "click" this.updateMeal}}>Update</button>